{% extends "base.html" %} 
{% block content %}
<h2>List of Snippets</h2>

<div class="flex-container">
    {% for snippet in snippets %}
    <div class="flex-item">
        <p class="snippet-title">{{ snippet.title }}</p>
        <p class="snippet-body"> {{ snippet.body }}</p>
        <p class="snippet-language"> {{ snippet.language }}</p>
        <p class="more-info"><a href="{% url 'snippet_detail' pk=snippet.pk %}">More Information</a></p>
    </div>
    {% endfor %}
</div>
{# put link to create new snippet page here #} {% endblock %}
