{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% block meta %}{% endblock %}
    <title>{% block title %}List of Snippets{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>

<body>
    <p class="user"> active user: {{ user.username }}</p>
    <header>
        <p><a href="{% url 'snippets_list' %}">List of Snippets</a></p>
        <p><a href="{% url 'add_snippet' %}">Add Snippet</a></p>
        {% if user.is_authenticated %}
        <p><a href="/accounts/logout/">logout</a></p>
        {% else %}
        <p><a href="/accounts/login/">login</a></p>
        <p><a href="/accounts/register/">create account</a></p>
        {% endif %}
    </header>

    <main>
        <!-- {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
 -->

        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </main>

</body>

</html>